#root {
  padding: 2rem;
  text-align: center;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.tableContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

input[type="text"] {
  width: 400px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  margin-right: 2em;
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.catFactContainer {
  margin-top: 2em;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  word-wrap: break-word;
  overflow: auto;
  max-height: 200px;
}


ul {
  margin-top: 2em;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

ul li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

ul li:last-child {
  margin-bottom: 0;
}